img[alt*="right"] {
    float: right;
    clear: right;
    margin: 0 0 1rem 1rem;
    box-shadow: none;
}
img[alt*="left"] {
    float: left;
    clear: left;
    margin: 0 1rem 1rem 0;
    box-shadow: none;
}
img[alt*="hide"] {
    display: none;
}
